.container{
    height:500px;
    width:500px;
    background-color: green;
    border:3px solid red;
    display:flex;
    margin-left: 500px;
}

.box{
    border:2px solid orange;
    background-color: aqua;
    height:150px;
    width:150px;
    margin:20px;
    margin-left: 0px;
    margin-top: 100px;
    

   
    /* transition:2s; */

    /* transition-property: background-color;
    transition-delay:5s; */

    /* transition:transform 4s ease 1s; */

    transition:all 7s ease 1s;
    transition: transform 3s;
    /* transition: transform cubic-bezier(0.95, 0.36, 0.09, 0.54); */

}

.box:hover{
    background-color:brown;
    

    transform: scale(2) translateX(320px) rotate(360deg);

}